@charset "UTF-8";
/* 
 * Definition of layout style
 * true = fixed widths (px)
 * false = fluid widths (%)
 */
/* 
 * Definition of grid columns - adjust these to your own grid requirements
 * - $column-width is in the inner width of the container
 * - $gutter-width if the magin given to the container for both sides in total
 * -- when $fixedorfluid is true, this will add up to give you your total width
 * -- when $fixedorfluid is true, this will be proportional based on the header columns
 */
/* 
 * Definition of container references
 */
/* 
 * Definition of grid column widths for containers
 */
/*
 * Arguments passed in will define if the container is to be a row or not
 */
/* 
 * My favoured reset is the Meyer reset.
 * Feel free to drop in normalise or boilerplate or whatever you prefer
 * But do use one!
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  width: auto;
  margin: 2em;
  clear: both;
  height: 100%;
  overflow: hidden; }

header {
  width: 100%;
  float: left;
  clear: both;
  height: 100%;
  overflow: hidden; }

section {
  width: 100%;
  float: left;
  clear: both;
  height: 100%;
  overflow: hidden; }

aside {
  width: 100%;
  float: left;
  clear: both;
  height: 100%;
  overflow: hidden; }

footer {
  width: 100%;
  float: left;
  clear: both;
  height: 100%;
  overflow: hidden; }

@media only screen and (min-width: 1025px) {
  .wrapper {
    width: 992px;
    margin: auto;
    clear: both;
    height: 100%;
    overflow: hidden; }

  header {
    width: 984px;
    float: left;
    margin: 0 4px;
    clear: both;
    height: 100%;
    overflow: hidden; }

  section {
    width: 632px;
    float: left;
    margin: 0 4px;
    clear: none; }

  aside {
    width: 344px;
    float: left;
    margin: 0 4px;
    clear: none; }

  footer {
    width: 984px;
    float: left;
    margin: 0 4px;
    clear: both;
    height: 100%;
    overflow: hidden; } }
@media only screen and (max-width: 1024px) {
  .wrapper {
    width: auto;
    margin: 2em;
    clear: both;
    height: 100%;
    overflow: hidden; }

  header {
    width: 100%;
    float: left;
    clear: both;
    height: 100%;
    overflow: hidden; }

  section {
    width: 68%;
    float: left;
    clear: none; }

  aside {
    width: 32%;
    float: left;
    clear: none; }

  footer {
    width: 100%;
    float: left;
    clear: both;
    height: 100%;
    overflow: hidden; } }
@media only screen and (max-width: 800px) {
  .wrapper {
    width: 448px;
    margin: auto;
    clear: both;
    height: 100%;
    overflow: hidden; }

  header {
    width: 440px;
    float: left;
    margin: 0 4px;
    clear: both;
    height: 100%;
    overflow: hidden; }

  section {
    width: 440px;
    float: left;
    margin: 0 4px;
    clear: both;
    height: 100%;
    overflow: hidden; }

  aside {
    width: 440px;
    float: left;
    margin: 0 4px;
    clear: both;
    height: 100%;
    overflow: hidden; }

  footer {
    width: 440px;
    float: left;
    margin: 0 4px;
    clear: both;
    height: 100%;
    overflow: hidden; } }
@media only screen and (max-width: 480px) {
  .wrapper {
    width: auto;
    margin: 2em;
    clear: both;
    height: 100%;
    overflow: hidden; }

  header {
    width: 100%;
    float: left;
    clear: both;
    height: 100%;
    overflow: hidden; }

  section {
    width: 100%;
    float: left;
    clear: both;
    height: 100%;
    overflow: hidden; }

  aside {
    width: 100%;
    float: left;
    clear: both;
    height: 100%;
    overflow: hidden; }

  footer {
    width: 100%;
    float: left;
    clear: both;
    height: 100%;
    overflow: hidden; } }
