
/* 
 * Definition of layout style
 * true = fixed widths (px)
 * false = fluid widths (%)
 */

$fixedorfluid: false;

/* 
 * Definition of grid columns - adjust these to your own grid requirements
 * - $column-width is in the inner width of the container
 * - $gutter-width if the magin given to the container for both sides in total
 * -- when $fixedorfluid is true, this will multiplied to give you your total width based on columns defined
 * -- when $fixedorfluid is false, this will be ignred and the result will be proportional based on the columns given to $header
 */

$column-width: 24px;
$gutter-width: 8px;

/* 
 * Definition of container references
 */

$container: '.wrapper';
$header: 'header';
$main: 'section';
$sidebar: 'aside';
$footer: 'footer';

/* 
 * Definition of grid column widths for containers
 */

$header_cols: 12;
$main_cols: 9;
$sidebar_cols: 3;
$footer_cols: 12;

/*
 * Arguments passed in will define if the container is to be a row or not
 */

@mixin generate_containers($container_row, $header_row, $main_row, $sidebar_row, $footer_row) {

	#{$container} {
		@if $fixedorfluid {
			width: ($header_cols * $column-width) + (($header_cols - 1) * $gutter-width) + $gutter-width;
			margin: auto;
		} 
		@if not $fixedorfluid {
			width: auto;
			margin: 2em;
		}
		@include make-row;
	}

	#{$header} {
		@include make-columns($header_cols, $header_row);
	}

	#{$main} {
		@include make-columns($main_cols, $main_row);
	}

	#{$sidebar} {
		@include make-columns($sidebar_cols, $sidebar_row);
	}

	#{$footer} {
		@include make-columns($footer_cols, $footer_row);
	}

}