$fixedorfluid: false;

$header_cols: 25;
$main_cols: 17;
$sidebar_cols: 8;
$footer_cols: 25;

@media only screen and (max-width: 1024px) {
	@include generate_containers(true, true, false, false, true);
}
